---
# Handlers for login_setup role

- name: restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
  become: yes
  when: ansible_facts['service_mgr'] == 'systemd'

- name: restart sshd (sysvinit)
  ansible.builtin.service:
    name: sshd
    state: restarted
  become: yes
  when: ansible_facts['service_mgr'] != 'systemd'

